server:
  name: "Production Server"
  host: 0.0.0.0
  port: 3000
repositories:
  main:
    name: "Main repository"
    secret: "SECRET"
    path: /Users/oleg/Code/test-webhook-target
    branch: main
    steps:
      - "rm -rf package-lock.json"
      - "git pull origin main"
      - "npm install"
      - "rm -rf _testdir"
      - "mkdir _testdir"
  second:
    name: "SECOND"
    secret: "aNL3ePP5K*KpdP@Z"
    path: /Users/oleg/Code/bitbucket-test-target
    branch: main
    steps:
      - type: telegram
        bot_id: "asdasd"
        chat_id: '333'
        text: "HELLO {id} {name} {response}s"
      - "rm -rf package-lock.json"
      - "git pull origin main"
      - "npm install"
      - "rm -rf _testdir"
      - "mkdir _testdir"

